################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Bowling/.vs/Bowling/v16
/Bowling/Bowling/obj/Debug
/Bowling/Bowling/bin/Debug
/Bowling/BowlingTests/bin/Debug
/Bowling/BowlingTests/obj/Debug
